/ {
    oled_display {
        compatible = "zmk,oled-display";

        layer_indicator {
            compatible = "zmk,layer-state";
            text = "Layer: ";
            layers = <0>, <1>, <2>, <3>;
        };

        bluetooth_status {
            compatible = "zmk,bt-state";
            text = "Bluetooth: ";
        };

        battery_status {
            compatible = "zmk,battery-state";
            text = "Battery: %d%%";
        };

        display_logo {
            compatible = "zmk,oled-image";
            image = <&logo>;
        };
    };
};
